datos/

.venv
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
*.log
.env
.env*
env
clean_parquet/
datasets/
*.safetensors
*.bin
*.pkl
model_cache/
Modelos/**
!Modelos/README.md
artifacts/
!/artifacts/
!/artifacts/eval_results/
!/artifacts/eval_results/**
~/
mlruns_recovered/
/Modelos
